:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --footer-adress: rgba(255, 255, 255, 0.6);
  --social-links: #afb1b8;
  --button-hover-color: #188ce8;
  --button-hover-text-color: rgba(255, 255, 255, 1);
  --main-effects-option: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-btn, .sub-btn, .hero__btn {
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
}

.social-list, .menu-close__btn, .clients-list, .clients-link, .hero__btn, .social-list__item, .social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "roboto", sans-serif;
  color: #212121;
}

button {
  cursor: pointer;
  padding: 0px;
  border: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-icon {
  fill: currentColor;
}

.social-list + .social-list {
  padding-left: 10px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.modal-btn {
  display: block;
}

.sub-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.sub-icon {
  margin-left: 10px;
}

.open-menu__btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  transition: fill var(--main-effects-option);
}

.open-menu__btn:hover, .open-menu__btn:focus, .open-menu__btn:active {
  fill: var(--button-hover-color);
}

@media screen and (min-width: 768px) {
  .open-menu__btn {
    display: none;
  }
}

.menu-close__btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.close-menu__icon {
  fill: var(--second-title-color);
  transition: var(--main-effects-option);
}

.close-menu__icon:hover, .close-menu__icon:focus {
  fill: var(--accent-color);
}

.mob-menu {
  z-index: 5;
  position: fixed;
  inset: 0;
  padding: 48px 40px;
  background-color: #fff;
  transition: var(--main-effects-option);
}

.mob-menu.is-hidden {
  transform: translateX(100%);
}

.mob-menu_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mob-menu-bottom {
  margin-top: auto;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.mob-menu__nav-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color var(--main-effects-option);
}

.mob-menu__nav-link:hover, .mob-menu__nav-link:focus, .mob-menu__nav-link:active {
  color: var(--accent-color);
}

.mob-menu__item-link-current {
  color: var(--accent-color);
}

.mob-menu__contacts-list {
  margin-bottom: 64px;
}

.mob-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__contacts-mobile {
  font-family: Roboto;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu__contacts-mail {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.mob-menu__contacts-mail:hover, .mob-menu__contacts-mail:focus, .mob-menu__contacts-mail:active {
  color: var(--accent-color);
}

.mob-menu__socials {
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  padding-left: 10px;
  padding-right: 10px;
}

.social__item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.social__item:first-child {
  padding-left: 0px;
}

.mob-menu__social__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header {
  background-color: var(--main-title-color);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}

.header-logo__web {
  color: var(--accent-color);
}

.header-logo__studio {
  color: black;
}

.header__navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__navigation {
    display: unset;
    margin-right: 84px;
  }
}

.header-list {
  display: flex;
}

.header-list__item {
  margin-right: 50px;
}

.header-list__item:last-child {
  margin-right: 0;
}

.header-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color var(--main-effects-option);
}

.header-list__link:hover, .header-list__link:focus, .header-list__link:active {
  color: var(--accent-color);
}

.header-list__link.current {
  display: block;
  position: relative;
  color: var(--accent-color);
}

.header-list__link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.contacts-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: unset;
    padding-top: 21px;
    padding-bottom: 22px;
  }
  .contacts-list__item.mail {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts-list__item.mail {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-link {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  text-decoration: none;
  transition: color var(--main-effects-option);
}

.contacts-link:hover, .contacts-link:focus, .contacts-link:active {
  color: var(--accent-color);
}

.contacts-link__icon:hover, .contacts-link__icon:focus, .contacts-link__icon:active {
  fill: currentColor;
}

.contacts-link__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill var(--main-effects-option);
}

@media screen and (min-width: 768px) {
  .contacts-link .mail-icon {
    width: 14px;
    height: 10px;
  }
  .contacts-link .mobile-icon {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-link {
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts-link .mail-icon {
    width: 16px;
    height: 12px;
  }
  .contacts-link .mobile-icon {
    width: 10px;
    height: 16px;
  }
}

.clients__title {
  margin-bottom: 50px;
}

.clients-list__item {
  width: 170px;
  height: 92px;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  justify-content: center;
  color: var(--social-links);
  border: 1px solid var(--social-links);
  border-radius: 6px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.hero {
  min-height: 400px;
  max-width: 1600px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/mob-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/mob-hero-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/tab-hero.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/tab-hero-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-Img.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-Img-2x.jpg);
  }
}

.hero__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 32px;
  left: 700px;
  top: 430px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  transition: color var(--main-effects-option), background-color var(--main-effects-option);
}

.hero__btn:hover, .hero__btn:focus, .hero__btn:active {
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
  fill: var(--button-hover-text-color);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-black-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.team-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.team-list__item {
  background-color: var(--first-text-color);
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 10px;
  text-align: center;
}

.job-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--social-links);
  fill: currentColor;
  transition: color var(--main-effects-option), background-color var(--main-effects-option);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.our-work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .our-work {
    display: flex;
  }
}

.our-work__title {
  padding-bottom: 50px;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  justify-content: center;
  margin-right: -30px;
  margin-bottom: -30px;
}

.our-work-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.our-work-img__title {
  position: absolute;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
}

.features {
  background-color: var(--main-title-color);
  text-align: center;
}

.features-icon__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-icon__wrap {
    width: 354px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .features-icon__wrap {
    width: 270px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__item {
    text-align: left;
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  .features-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features-item__title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.features-item__text {
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts__wrap {
  width: 231px;
  flex-shrink: 0;
}

.footer-social__wrap {
  padding-left: 70px;
  padding-top: 12px;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  display: block;
  margin-bottom: 20px;
}

.footer-adress__wrap {
  margin-bottom: 9px;
}

.footer-mail__wrap {
  margin-bottom: 9px;
}

.footer-logo__web {
  color: var(--accent-color);
}

.footer-logo__studio {
  color: var(--main-title-color);
}

.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--footer-adress);
}

.footer-blocks {
  display: flex;
}

.footer-social__title {
  margin-bottom: 20px;
  color: var(--main-title-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: currentColor;
}

.footer-subscription-wrap {
  padding-left: 93px;
  padding-top: 12px;
}

.footer-subscription-form {
  display: flex;
  flex-wrap: wrap;
}

.sub-box {
  display: flex;
  flex-direction: column;
}

.sub-title {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: none;
}

.backdrop.is-hidden .modal {
  transform: translate(100px) scale(1.5) rotate(270deg);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 8px;
  cursor: pointer;
  display: block;
  align-items: center;
  justify-content: center;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 12px;
  background-color: transparent;
  color: var(--second-title-color);
  transition: border-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.78, 0.73);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-input__wrap {
  position: relative;
  margin-top: 4px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--second-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.78, 0.73);
}

.modal-text {
  width: 100%;
  height: 120px;
  color: var(--second-title-color);
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.78, 0.73);
}

.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-text::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--first-text-color);
}

.modal-btn-field {
  display: flex;
  justify-content: center;
}

.agreement {
  margin-bottom: 30px;
}

.check-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.check-box {
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-title-color);
  border-radius: 4px;
  box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.icon-check {
  fill: transparent;
}

.modal-check:checked + .check-text span.check-box {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:checked + .check-text .icon-check {
  fill: #ffffff;
}

.agreement-text {
  padding-right: 3px;
}

.portfolio-container {
  margin-left: auto;
  margin-right: auto;
}

.project-nav {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.project-nav__item:not(:last-child) {
  margin-right: 8px;
}

.project-nav__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--second-title-color);
  padding: 6px 22px;
  cursor: pointer;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-nav__btn:hover, .project-nav__btn:focus {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.projects-list__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.projects-list__item:hover .project-text {
  transform: translateY(0);
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-item__name {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin-bottom: 4px;
}

.project-item__text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.border-img {
  display: block;
  width: 370px;
  height: 110px;
  border-style: solid;
  border-top: none;
  border-width: 1px;
  border-color: #eeeeee;
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item__wrap {
  position: relative;
  overflow: hidden;
}

.project-text {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.55;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
  overflow: auto;
}
/*# sourceMappingURL=main.css.map */