.clients__title {
  margin-bottom: 50px;
}

.clients-list {
  justify-content: center;
  @extend %align-list;
}

.clients-list__item {
  width: 170px;
  height: 92px;
}

.clients-list__item {
  & + & {
    margin-left: 30px;
  }
}

.clients-link {
  width: 100%;
  height: 100%;
  @extend %align-list;
  justify-content: center;
  color: var(--social-links);
  border: 1px solid var(--social-links);
  border-radius: 6px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.clients-icon {
  fill: currentColor;
}
