.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts__wrap {
  width: 231px;
  flex-shrink: 0;
}

.footer-social__wrap {
  padding-left: 70px;
  padding-top: 12px;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  display: block;
  margin-bottom: 20px;
}

.footer-adress__wrap {
  margin-bottom: 9px;
}

.footer-mail__wrap {
  margin-bottom: 9px;
}

.footer-logo__web {
  color: var(--accent-color);
}

.footer-logo__studio {
  color: var(--main-title-color);
}

.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--footer-adress);
}

.footer-blocks {
  display: flex;
}

.footer-social__title {
  margin-bottom: 20px;
  color: var(--main-title-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-icon {
  fill: currentColor;
}

.footer-subscription-wrap {
  padding-left: 93px;
  padding-top: 12px;
}

.footer-subscription-form {
  display: flex;
  flex-wrap: wrap;
}
.sub-box {
  display: flex;
  flex-direction: column;
}

.sub-title {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
