.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
  &__wrap {
    text-align: center;
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      text-align: left;
      margin-bottom: 0;
    }
  }
  &-info__wrap {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
      justify-content: unset;
      margin-bottom: 0;
    }
  }

  .footer-contacts__wrap {
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.footer-logo {
  @include font(Raleway, 700, 24px, 1.17, 0.03em, var(--accent-color));
  display: block;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-logo__web {
  color: var(--accent-color);
}

.footer-logo__studio {
  color: var(--main-title-color);
}

.footer-adress__wrap,
.footer-mail__wrap {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-adress {
  font-style: normal;
  @include font(Roboto, 400, 14px, 1.71, 0.03em, var(--main-title-color));
}

.footer-mail,
.footer-tel {
  font-style: normal;
  @include font(Roboto, 400, 14px, 1.71, 0.03em, rgba(255, 255, 255, 0.6));
  transition: color var(--main-effects-option);
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}

.footer-social__wrap {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer-social__title,
.join-us__text {
  margin-bottom: 20px;
  text-transform: uppercase;
  @include font(Roboto, 700, 14px, 1.14, 0.03em, var(--main-title-color));
}
.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  @extend %align-list;
  color: #ffffff;
  transition: color var(--main-effects-option),
    background-color var(--main-effects-option);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-icon {
  fill: currentColor;
}

.footer-subscription__wrap {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.footer-subscription__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
  }
}

.footer-subscription__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  @include font(Roboto, 700, 14px, 1.14, 0.03em, var(--main-title-color));
}

.subscribe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  @include font(Roboto, 16px, 400, 1.25, 0.03em, rgba(255, 255, 255, 0.6));
  outline: none;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    width: 358px;
    margin-right: 12px;
  }
}

.sub-btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 29px;
  @include font(Roboto, 900, 16px, 1.87, 0.06em, var(--main-title-color));
  @extend %btn;
}

.sub-icon {
  fill: var(--main-title-color);
  margin-left: 10px;
}
