.hero {
  min-height: 400px;
  max-width: 1600px;
  background-color: var(--background-color);
  @extend %align-list;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/mob-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/mob-hero-2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/tab-hero.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/tab-hero-2x.jpg);
  }
  @media screen and (min-width: 1200px) {
    min-height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Hero-Img.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Hero-Img-2x.jpg);
  }
  &__title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    margin-bottom: 30px;
    text-transform: uppercase;
    @include font(Roboto, 900, 26px, 1.62, 0.06em, var(--main-title-color));
    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
  &__btn {
    @extend %btn;
    @extend %align-list;
    padding: 10px 32px;
    left: 700px;
    top: 430px;
    margin-left: auto;
    margin-right: auto;
    @include font(Roboto, 700, 16px, 1.87, 0.06em, var(--main-title-color));
    transition: color var(--main-effects-option),
      background-color var(--main-effects-option);
    &:hover,
    &:focus,
    &:active {
      background-color: var(--button-hover-color);
      color: var(--button-hover-text-color);
      fill: var(--button-hover-text-color);
    }
  }
}
