.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }
  &.is-hidden {
    .modal {
      transform: translate(100px) scale(1.5) rotate(270deg);
    }
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 8px;
  cursor: pointer;
  display: block;
  align-items: center;
  justify-content: center;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: var(--accent-color);
  }
}

.modal__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 12px;
  background-color: transparent;
  color: var(--second-title-color);
  transition: border-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.78, 0.73);
  &:focus {
    border-color: var(--accent-color);
  }
  &:focus + .input-icon {
    fill: var(--accent-color);
  }
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-input__wrap {
  position: relative;
  margin-top: 4px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--second-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.78, 0.73);
}

.modal-text {
  width: 100%;
  height: 120px;
  color: var(--second-title-color);
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.78, 0.73);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-input__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--first-text-color);
}

.modal-btn-field {
  display: flex;
  justify-content: center;
}

.agreement {
  margin-bottom: 30px;
}

.check-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.check-box {
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-title-color);
  border-radius: 4px;
  box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.icon-check {
  fill: transparent;
}

.modal-check:checked + .check-text span.check-box {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:checked + .check-text .icon-check {
  fill: #ffffff;
}
.agreement-text {
  padding-right: 3px;
}
