.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity var(--main-effects-option),
    visibility var(--main-effects-option);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }
  &.is-hidden {
    .modal {
      transform: translate(100px) scale(1.5) rotate(270deg);
    }
  }
}

.modal {
  width: calc(100% - 30px);
  max-width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform var(--main-effects-option);
  padding: 40px;
  @media screen and (min-width: 1200px) {
    width: 528px;
    max-width: none;
    min-height: 581px;
  }
}

.modal-close {
  @extend %align-list;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    cursor: pointer;
  }
  &:hover, &:focus {
    fill: var(--accent-color);
  }
  &__icon {
    transition: fill var(--main-effects-option);
  }
}

.modal__title {
  @include font(Roboto, 700, 20px, 1.5, 0.03em, var(--second-title-color));
  text-align: center;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  background-color: transparent;
  color: var(--second-title-color);
  transition: border-color var(--main-effects-option);
  transition-timing-function: cubic-bezier(0.4, 0, 0.78, 0.73);
  &:focus {
    border-color: var(--accent-color);
  }
  &:focus + .input-icon {
    fill: var(--accent-color);
  }
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-input__wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--second-title-color);
  transition: fill var(--main-effects-option);
}

.modal-comment-area {
  width: 100%;
  height: 120px;
  color: var(--second-title-color);
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.78, 0.73);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    @include font(Roboto, 400, 14px, 1.14, 0.01em, rgba(117, 117, 117, 0.5));
  }
}

.modal-input__label {
  display: block;
  margin-bottom: 4px;
  @include font(Roboto, 400, 12px, 1.17, 0.03em, var(--first-text-color))
}


.modal-checkbox__field {
  display: flex;
  margin-bottom: 30px;
}

.modal-check-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include font(Roboto, 400, 12px, 1.17, 0.03em, var(--first-text-color));
  @media screen and (min-width: 1200px) 
    {
      font-size: 14px;
      line-height: 1.71;
    }
  }

.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-title-color);
  border-radius: 4px;
  box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.25);
  @extend %align-list;
  margin-right: 8px;
}

.icon-check {
  fill: transparent;
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:checked + .modal-check-text span .icon-check {
  fill: #ffffff; 
}

.check-text-link {
  @include font(Roboto, 400, 12px, 1.17, 0.03em, var(--accent-color));
  text-decoration: underline solid var(--accent-color);
  text-decoration-skip-ink: none;
  margin-left: 2px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-checkbox {
  display: flex;
  flex-wrap: wrap;
}