.portfolio-container {
  margin-left: auto;
  margin-right: auto;
}

.project-nav {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.project-nav__item:not(:last-child) {
  margin-right: 8px;
}

.project-nav__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--second-title-color);
  padding: 6px 22px;
  cursor: pointer;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--main-title-color);
    background-color: var(--accent-color);
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.projects-list__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  &:hover .project-text {
    transform: translateY(0);
  }
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-item__name {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin-bottom: 4px;
}

.project-item__text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.border-img {
  display: block;
  width: 370px;
  height: 110px;
  border-style: solid;
  border-top: none;
  border-width: 1px;
  border-color: #eeeeee;
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-item__wrap {
  position: relative;
  overflow: hidden;
}

.project-text {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.55;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms;
  overflow: auto;
}
