.team {
  background-color: #f5f4fa;
  &__description {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
  }
  &-img {
    width: 100%;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // @include card-set;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-top: 0px;
  }
  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 768px) {
      // @include item;
      flex-basis: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 1200px) {
      margin-top: 0px;
      flex-basis: calc(100% / 4 - 30px);
    }
  }
}

.team-list__item {
  @media screen and (max-width: 767px) {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
}


.team__name {
  @include font(null, 500, 16px, 1.18, null, var(--second-title-color));
  margin-bottom: 10px;
  text-align: center;
}

.job-title {
  @include font(null, 400, 16px, 1.19, null, var(--first-text-color));
  text-align: center;
  margin-bottom: 16px;
}

.social-list__item {
  width: 44px;
  height: 44px;
  @extend %align-list;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @extend %align-list;
  color: var(--social-links);
  fill: currentColor;
  transition: color var(--main-effects-option),
    background-color var(--main-effects-option);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}
