.our-work {
  display: none;
  padding-top: 0px;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-work-list__item {
  &:not(:last-child) {margin-right: 30px;}
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
  display: flex;
  justify-content: center;
}

.our-work-img__title {
  position: absolute;
  @include font(null, 700, null, 1.14, null, var(--main-title-color));
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
}
