.hero__btn {
  left: 700px;
  top: 430px;
  @extend %btn;
}

.modal-btn {
  display: block;
  @extend %btn;
}

.sub-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  @extend %btn;
}

.sub-icon {
  margin-left: 10px;
}
