body {
  font-family: "roboto", sans-serif;
  color: var(--first-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

}

button {
  cursor: pointer;
  padding: 0px;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
