body {
  font-family: "roboto", sans-serif;
  color: #212121;
}

button {
  cursor: pointer;
  padding: 0px;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
