:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --footer-adress: rgba(255, 255, 255, 0.6);
  --social-links: #afb1b8;
}
